body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.scrollBarText {
  width: 100%;
  display: "flex";
  justify-content: "space-around";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1rem;
  color: "green";
}

.anchorLinks {
  display: inline;
  color: "green";
  padding-left: "20px";
  padding-right: "20px";
}

.anchorLinks:hover {
  display: inline;
  color: "purple";
}
