.scrollBarText {
  width: 100%;
  display: "flex";
  justify-content: "space-around";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", serif;
  letter-spacing: 0.5rem;
  color: "green";
}

.anchorLinks {
  display: inline;
  color: "green" !important;
  padding-left: "20px" !important;
  padding-right: "20px" !important;
}

.anchorLinks:hover {
  display: inline;
  color: "purple";
}
